html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.sign {
    position: relative;
    margin-top: -30px;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      blue,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem lightskyblue,
      -0.2rem 0.1rem 1rem lightskyblue, 0.2rem 0.1rem 1rem lightskyblue,
      0 -0.5rem 2rem blue, 0 0.5rem 3rem blue;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem lightskyblue,
        -0.2rem 0.1rem 1rem lightskyblue, 0.2rem 0.1rem 1rem lightskyblue,
        0 -0.5rem 2rem blue, 0 0.5rem 3rem blue;
    }
    28%,
    33% {
      color: lightskyblue;
      text-shadow: none;
    }
    82%,
    97% {
      color: blue;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: blue;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem lightskyblue,
        -0.2rem 0.1rem 1rem lightskyblue, 0.2rem 0.1rem 1rem lightskyblue,
        0 -0.5rem 2rem blue, 0 0.5rem 3rem blue;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
}

h7 {
    text-shadow:blue;
    color: white;
    font-family: "Clip";
    text-align: center;
    animation: blink2 12s infinite;
    -webkit-animation: blink2 12s infinite;
}

@-webkit-keyframes blink2 {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px blue, 0 0 15px blue, 0 0 20px blue, 0 0 40px lightblue, 0 0 60px #ff0000, 0 0 10px lightblue, 0 0 98px #ff0000;
      color: white;
    }
}
  
@keyframes blink2 {
    20%,
    24%,
    55% {
    color: #111;
    text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px blue, 0 0 15px blue, 0 0 20px lightblue, 0 0 40px lightblue, 0 0 60px blue, 0 0 10px lightblue, 0 0 98px #ff0000;
        color: white;
    }
}
  
.row-header { 
  padding-top: 50px;
  margin: 0px auto;
}

.title {
    font-size: 65px;
}

#main {
    margin-left: 150px;
    padding: 70px;
}

p {
    color: grey;
    font-size: 15px;
}

h6, h5 {
    color: black;
}

.card-body, .accordion-item {
    background-color: white;
}

#projects {
    margin-left: -100px;
    
}

.h-100 {
    padding: 10px;
    transition: 0.30s;
    width: 350px;
}

.h-100:hover {
    transform: scale(1.1);
}

.accordion {
    margin-right: 200px;
    
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.example_e, .resume, .email {
    border: none;
    color: white !important;
    font-weight: 100;
    width: 300px;
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.example_e {
    background: #505050;
    font-size: 18px;  
}

.example_e:hover, .resume:hover, .email:hover {
    color: white !important;
    font-weight: 700 !important;
    letter-spacing: 5px;
    background: none;
    transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 900px) {
    #main {
        margin-left:0px;
    }

    #projects {
        margin-left:0px;
    }

    .accordion {
        margin-right: 0px;
    }
    
}

@media only screen and (max-width: 800px) {
    #main {
        margin-left:100px;
    }

    .accordion {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 2000px) {
  #main {
      margin-left:480px;
  }

  #projects {
      margin-right:150px;
  }

  .accordion {
      margin-right: 200px;
  }
  
}

@media only screen and (min-width: 2100px) {
  #main {
      margin-left:620px;
  }

  #projects {
      margin-right:150px;
  }

  .accordion {
      margin-right: 200px;
  }
  
}


